@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url('/hero.png');
    animation: image 10s infinite ease-in-out;

}

@keyframes image {
    from {
        background-image: url('/hero.png');
    }

    to {
        background-image: url('/hero2.png');
    }
}

* {
    box-sizing: border-box;
}

.mySwiper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}